/Variaveis/nbproject/private/
/Variaveis/build/
/Hackatruck/nbproject/private/
/Hackatruck/build/
/Operadores/nbproject/private/
/Operadores/build/
/ExerciciosAteAula13/nbproject/private/
/ExerciciosAteAula13/build/
/Condicionais/nbproject/private/
/Condicionais/build/
/Gui/nbproject/private/
/Gui/build/
/LoopWhile/nbproject/private/
/LoopWhile/build/